/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 input[type=text] {
   display: block;
   padding: 0.625em 1em;
   vertical-align: middle;
   color: #828a8b;
   border: 1px solid #cfd2d3;
   font-size: 1em;
   border-radius: 4px;
   transition-property: border-color, color, box-shadow;
   transition-duration: .15s;
 }

 input[type=text]:focus {
   color: #323a3b;
   border-color: transparent;
   box-shadow: inset 0 0 0 2px #46c0d9;
 }

 input[type=password] {
   display: block;
   padding: 0.625em 1em;
   vertical-align: middle;
   color: #828a8b;
   border: 1px solid #cfd2d3;
   font-size: 1em;
   border-radius: 4px;
   transition-property: border-color, color, box-shadow;
   transition-duration: .15s;
 }

 input[type=password]:focus {
   color: #323a3b;
   border-color: transparent;
   box-shadow: inset 0 0 0 2px #46c0d9;
 }

 .logo {
   display: inline-block;
   width: wrap;
   letter-spacing: -2px;
   font-kerning: -2px;
   font-weight: bolder;
 }

 .logo-first {
   /*color: #00033d;*/
   color: #001f3f;
 }

 .logo-second {
   /*color: #000ad6;*/
   color: #0074d9;
 }
