// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
h5, h6, fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

.navbar {
  display: inline-block;
  padding: 12px 0px;
  margin-bottom: 32px;
  font-size: 32px;
  width: 100%;
  border-bottom: 1px solid #ebecec;
}

.navbar-menu {
  max-width: 1200px;
  height: 36px;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
}

.navbar-logo {
  cursor: pointer;
  height: 30px;
  font-size: 30px;
  position: relative;
  bottom: 6px;
}

.logo-first {
  color: #00033d;
}

.logo-second {
  color: #000ad6;
}

.navbar-link-container {
  float: right;
  height: 36px;
}

.navbar-link {
  cursor: pointer;
  color: #626A6B;
  font-weight: 300;
  font-size: .75rem;
  line-height: 36px;
  vertical-align: middle;
  padding: 0px 16.8px;
  box-sizing: border-box;
}

.navbar-link:not(:first-child):before {
  content: "";
  display: inline-block;
  height: 1.25rem;
  border-left: 1px solid #cfd2d3;
  position: relative;
  left: -16.8px;
  transform: translateY(25%);
}

.spacer {
  width: 100%;
  height: 20px;
}

.container {
  width: 100%;
  background: #f5f6f6;
  min-height: 100vh;
  position: relative;
  padding-bottom: 285px;
}

.content-container {
  max-width: 960px;
  margin: auto;
  color: #323a3b;
  background: #f5f6f6;
  position: relative;
  fit-content: true;
}

.profile-pic {
  background-image: url(http://res.cloudinary.com/dz9mezxg3/image/upload/c_fill,g_faces,h_86,w_86/v1456786679/default_avatar_w4weuh.jpg);
  border-radius: 43px;
  height: 86px;
  width: 86px;
  margin: 0 24px 0 0;
  display: inline-block;
  position: relative;
  top: 10px;
  right: 7px;
}

.salute-container {
  position: relative;
}

h1 {
  display: inline-block;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 56px;
  margin-bottom: 15px;
  position: relative;
  top: 0;
  vertical-align: top;
}

h2 {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1em;
  color: #323a3b;
}

h3 {
  display: inline-block;
  font-size: 1.75em;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 1em;
  border-bottom: 1px solid #cfd2d3;
  width: 100%;
}

.account-panel-header {
  display: inline-block;
  width: 100%;
  position: relative;
}

.account-panel-body {
  margin-bottom: 16px;
}

.account-management-container {
  position: relative;
  background-color: #FFFFFF;
}

.account-nav {
  display: inline-block;
  position: relative;
  width: 25%;
  float: left;
}

.account-nav-option-container {
  display: block;
  height: 40px;
  width: 100%;
  color: #828a8b;
}

.account-nav-option-container:hover {
  cursor: pointer;
  background: #eef9fb;
}

.account-nav-option-container-selected {
  display: block;
  height: 40px;
  width: 100%;
  color: #ffffff;
  background-color: #1da3bf;
}

.account-nav-option-container-selected:hover {
  cursor: default;
}

.account-nav-option {
  padding: 0 16px;
  position: relative;
  top: 11px;
}

.account-option-container {
  box-sizing: border-box;
  display: inline-block;
  padding: 16px;
  border-left: 1px solid #ebecec;
  width: 75%;
  position: relative;
  float: right;
  top: 0px;
  min-height: 240px;
  flex-grow: 1;
}

.account-input-label {
  display: block;
  width: 100%;
}

label[for] {
  cursor: pointer;
  display: block;
}

.account-input-input {
  margin-bottom: 1rem;
  position: relative;
  float: left;
  width: 100%;
  min-height: 40px;
}

.header-button {
  position: absolute;
  float: right;
  right: 0;
}

.blue-button {
  display: inline-block;
  color: #1da3bf;
  transition: color .16s, background-color .16s;
  border: 1px solid #1da3bf;
  border-radius: 4px;
  vertical-align: middle;
  padding: .5em 1.38em;
  font-size: 1.25rem;
  line-height: 22.4px;
}

.blue-button:hover {
  background-color: #1da3bf;
  color: #ffffff;
}

.gray-button {
  display: inline-block;
  color: #626a6b;
  transition: color .16s, background-color .16s;
  border: 1px solid #969d9e;
  background-color: transparent;
  border-radius: 4px;
  vertical-align: middle;
  padding: .5em 1.38em;
  font-size: 1.25rem;
  line-height: 22.4px;
  margin-right: 16px;
}

.gray-button:hover {
  background-color: #ebecec;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.register-button {
  width: auto;
  margin: 0 auto;
}

.button-small {
  font-size: 1rem;
}

.job-search-input {
  display: inline-block;
  padding-left: 2.5em
}

.text-content {
  display: inline-block;
  -webkit-flex: 1;
  flex: 1;
  position: absolute;
  top: 0;
}

.job-list-container {
  margin-top: 56px;
  margin-bottom: 32px;
}

.job-container {
  padding: 10px;
}

.job-text-field {
  padding-bottom: 5px;
}

.test-list-container {
  width: 100%;
  position: relative;
}

.test-icon-row {
  position: relative;
  left: -32px;
}

.test-icon-block {
  width: 30%;
  margin-left: 32px;
  margin-bottom: 2em;
  height: 275px;
  display: inline-block;
  vertical-align: top;
}

.tib-sat2ush {
  background-image: url('http://res.cloudinary.com/dz9mezxg3/image/upload/c_fill,g_center,h_198,w_288/v1456971019/flag_vcxuth.jpg');
}

.tib-sat2wh {
  background-image: url('http://res.cloudinary.com/dz9mezxg3/image/upload/c_fill,g_center,h_198,w_288/v1456970313/globes_xvtnjy.jpg');
}

.tib-sat2span {
  background-image: url('http://res.cloudinary.com/dz9mezxg3/image/upload/c_fill,g_center,h_198,w_288/v1456970304/spain_nas1oc.jpg');
}

.tib-sat2phys {
  background-image: url('http://res.cloudinary.com/dz9mezxg3/image/upload/c_fill,g_center,h_198,w_288/v1456970307/space_lils6l.jpg');
}

.tib-sat {
  background-image: url('http://res.cloudinary.com/dz9mezxg3/image/upload/c_fill,g_center,h_198,w_288/v1456970301/classroom_t2okpj.jpg');
}

.tib-act {
  background-image: url('http://res.cloudinary.com/dz9mezxg3/image/upload/c_fill,g_center,h_198,w_288/v1457026184/triangle_brhir9.jpg');
}

.test-icon-block:hover {
  cursor: pointer;
}

.test-icon-shadow-block {
  height: 100%;
  width: 100%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.test-icon-image {
  height: 72%;
  width: 100%;
  background-color: #00F;
}

.test-icon-text {
  height: 28%;
  text-align: center;
  padding: 0.6em;
  position: relative;
  bottom: 0;
  width: 288px;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.test-icon-main-text {
  display: block;
  width: 100%;
}

.test-icon-sub-text {
  display: block;
  width: 100%;
}

.footer {
  padding: 40px 0;
  width: 100%;
}

.footer-container {
  margin-top: 85px;
  height: 200px;
  background-color: #b4b9b9;
  width: 100%;
  position: absolute;
  bottom: 0;
}
